page-home {

     #new{
           text-align: right;
           margin-top: -195px;
       }

       #new1{
           text-align: right;
           margin-top: 45px;
       }

       #new2{
           text-align:right;
           margin-top: 40px;
           margin-left: 40px;
       }
       #shade{
           background-color: aqua;
           color: #000080;
           border: 2px solid  #000080 ;
       }
 }

